body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('images/myimg.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    color: #fffaa2;
}




.book-container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #6d4b0c;
    padding: 25px 35px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(145, 70, 23, 0.15);
}

.book-container h2 {
    color: #f59e0b;
    margin-bottom: 20px;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    text-align: center;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffcc00;
}

input, textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 18px;
    background: #fff7e6;
    box-shadow: 0 3px 8px rgba(255, 157, 0, 0.1);
    transition: 0.2s;
}

input:focus, textarea:focus {
    border-color: #f59e0b;
    box-shadow: 0 0 6px rgba(245, 158, 11, 0.4);
    outline: none;
}

textarea {
    height: 120px;
    resize: none;
}

.btn-confirm {
    width: 100%;
    background-color: #f4a113;
    color: white;
    border: none;
    padding: 12px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 4px 12px rgba(245,158,11,0.35);
}

.btn-confirm:hover {
    background-color: #d98706;
}
